*{
    box-sizing: border-box;
}

body{
    background-color: #0e193d;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inp
{
    display: flex;
    justify-content: center;}
#row
{
    width: 135px;
    height: 40px;
    border: 2px solid black;
}
#column
{
    width: 135px;
    height: 40px;
    border: 2px solid black;
}
button
{    width: 220px;
    height: 47px;
    border-radius: 10044px;
    margin-top: 29px;
    background: #0083ff;
    margin-left: 23px;
}

#canvas
{
    background: #f0f0f0;
    border-radius: 5px;
}

.cell
{
    height: 40px;
    width: 40px;
}
#after_submit
{
    visibility: hidden;
}